@model RVCC.Models.ViewModel.SaleShirt2020DataViewModel
@{
    int pQuantity = Model.SizePNormalQuantity + Model.SizePBabyLookQuantity;
    int mQuantity = Model.SizeMNormalQuantity + Model.SizeMBabyLookQuantity;
    int gQuantity = Model.SizeGNormalQuantity + Model.SizeGBabyLookQuantity;
    int ggQuantity = Model.SizeGGNormalQuantity + Model.SizeGGBabyLookQuantity;
    int xgQuantity = Model.SizeXGNormalQuantity + Model.SizeXGBabyLookQuantity;
}

<table class="table table-responsive-sm table-bordered text-center" aria-describedby="Detalhes de venda de camisetas 2020">
    <thead>
        <tr>
            <th scope="col">Quantidade</th>
            <th scope="col">2</th>
            <th scope="col">4</th>
            <th scope="col">6</th>
            <th scope="col">8</th>
            <th scope="col">10</th>
            <th scope="col">12</th>
            <th scope="col">14</th>
            <th scope="col">16</th>
            <th scope="col">P</th>
            <th scope="col">M</th>
            <th scope="col">G</th>
            <th scope="col">GG</th>
            <th scope="col">XG</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Normal</th>
            <td>@Model.Size2NormalQuantity</td>
            <td>@Model.Size4NormalQuantity</td>
            <td>@Model.Size6NormalQuantity</td>
            <td>@Model.Size8NormalQuantity</td>
            <td>@Model.Size10NormalQuantity</td>
            <td>@Model.Size12NormalQuantity</td>
            <td>@Model.Size14NormalQuantity</td>
            <td>@Model.Size16NormalQuantity</td>
            <td>@Model.SizePNormalQuantity</td>
            <td>@Model.SizeMNormalQuantity</td>
            <td>@Model.SizeGNormalQuantity</td>
            <td>@Model.SizeGGNormalQuantity</td>
            <td>@Model.SizeXGNormalQuantity</td>
        </tr>
        <tr>
            <th scope="row">Baby Look</th>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>@Model.SizePBabyLookQuantity</td>
            <td>@Model.SizeMBabyLookQuantity</td>
            <td>@Model.SizeGBabyLookQuantity</td>
            <td>@Model.SizeGGBabyLookQuantity</td>
            <td>@Model.SizeXGBabyLookQuantity</td>
        </tr>
        <tr>
            <th scope="row">Total</th>
            <td>@Model.Size2NormalQuantity</td>
            <td>@Model.Size4NormalQuantity</td>
            <td>@Model.Size6NormalQuantity</td>
            <td>@Model.Size8NormalQuantity</td>
            <td>@Model.Size10NormalQuantity</td>
            <td>@Model.Size12NormalQuantity</td>
            <td>@Model.Size14NormalQuantity</td>
            <td>@Model.Size16NormalQuantity</td>
            <td>@pQuantity</td>
            <td>@mQuantity</td>
            <td>@gQuantity</td>
            <td>@ggQuantity</td>
            <td>@xgQuantity</td>
        </tr>
        <tr>
            <th scope="row">Valor</th>
            <td>R$ @((Model.Size2NormalQuantity * 20).ToString("N2"))</td>
            <td>R$ @((Model.Size4NormalQuantity * 20).ToString("N2"))</td>
            <td>R$ @((Model.Size6NormalQuantity * 20).ToString("N2"))</td>
            <td>R$ @((Model.Size8NormalQuantity * 20).ToString("N2"))</td>
            <td>R$ @((Model.Size10NormalQuantity * 20).ToString("N2"))</td>
            <td>R$ @((Model.Size12NormalQuantity * 20).ToString("N2"))</td>
            <td>R$ @((Model.Size14NormalQuantity * 20).ToString("N2"))</td>
            <td>R$ @((Model.Size16NormalQuantity * 20).ToString("N2"))</td>
            <td>R$ @((pQuantity * 20).ToString("N2"))</td>
            <td>R$ @((mQuantity * 20).ToString("N2"))</td>
            <td>R$ @((gQuantity * 20).ToString("N2"))</td>
            <td>R$ @((ggQuantity * 20).ToString("N2"))</td>
            <td>R$ @((xgQuantity * 20).ToString("N2"))</td>
        </tr>
    </tbody>
</table>