@model LigaCancer.Models.FormModel.PatientShowFormModel
@using LigaCancer.Code
@{
    ViewData["Title"] = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <environment names="Development">
        <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
        <link href="~/lib/select2/theme/select2-bootstrap.min.css" rel="stylesheet" />
        <link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/dist/css/patient.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
}

<main class="main">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-action="Index">Pacientes</a>
        </li>
        <li class="breadcrumb-item active">Detalhes @Model.Name</li>
    </ol>
    <div class="container-fluid">
        <div id="ui-view" style="opacity: 1;">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-address-card"></i> Paciente
                                <div class="card-header-actions">
                                    <a class="card-header-action btn-minimize" href="#" data-toggle="collapse" data-target="#patientCollapse" aria-expanded="true">
                                        <i class="fa fa-minus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body collapse show" id="patientCollapse">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p><strong>@Html.DisplayNameFor(model => model.Name)</strong></p>
                                        <p><strong>@Html.DisplayNameFor(model => model.RG)</strong></p>
                                        <p><strong>@Html.DisplayNameFor(model => model.CPF)</strong></p>
                                        <p><strong>@Html.DisplayNameFor(model => model.Sex)</strong></p>
                                        <p><strong>@Html.DisplayNameFor(model => model.CivilState)</strong></p>
                                        <p><strong>@Html.DisplayNameFor(model => model.DateOfBirth)</strong></p>
                                        <p><strong>@Html.DisplayNameFor(model => model.Profession)</strong></p>
                                    </div>
                                    <div class="col-lg-8">
                                        <p>@Html.DisplayFor(model => model.Name)</p>
                                        <p>@Html.DisplayFor(model => model.RG)</p>
                                        <p>@Html.DisplayFor(model => model.CPF)</p>
                                        <p>@Html.DisplayFor(model => model.Sex)</p>
                                        <p>@Html.DisplayFor(model => model.CivilState)</p>
                                        <p>@Model.DateOfBirth.ToString("dd/MM/yyyy")</p>
                                        <p>@Html.DisplayFor(model => model.Profession)</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        @if (Model.FamiliarityGroup)
                                        {
                                            <p> <i class="fa fa-check-circle"></i> <strong>Participa do grupo de convivência</strong></p>
                                        }
                                        else
                                        {
                                            <p><i class="fa fa-times-circle"></i> <strong>Não participa do grupo de convivência</strong></p>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-align-justify"></i> Informações do paciente
                                <div class="card-header-actions">
                                    <a class="card-header-action btn-minimize" href="#" data-toggle="collapse" data-target="#patientInformationCollapse" aria-expanded="true">
                                        <i class="fa fa-minus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body collapse show" id="patientInformationCollapse">
                                <div class="row">
                                    @if (Model.PatientInformation.TreatmentPlaces.Count == 0 &&
                                      Model.PatientInformation.Doctors.Count == 0 &&
                                      Model.PatientInformation.Medicines.Count == 0 &&
                                      Model.PatientInformation.CancerTypes.Count == 0)
                                    {
                                        <div class="col-lg-12">
                                            <p>Nenhuma informação cadastrada!</p>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-4">
                                            <div class="list-group" id="list-tab" role="tablist">
                                                @{
                                                    string className = "active";
                                                }
                                                @if (Model.PatientInformation.CancerTypes.Count > 0)
                                                {
                                                    <a class="list-group-item list-group-item-action @className" id="linkListCancerType" data-toggle="tab" href="#listCancerType" role="tab" aria-controls="listCancerType" aria-selected="false">@Html.DisplayNameFor(model => model.PatientInformation.CancerTypes)</a>
                                                    className = "";
                                                }
                                                @if (Model.PatientInformation.Medicines.Count > 0)
                                                {
                                                    <a class="list-group-item list-group-item-action @className" id="linkListMedicine" data-toggle="tab" href="#listMedicine" role="tab" aria-controls="listMedicine" aria-selected="false">@Html.DisplayNameFor(model => model.PatientInformation.Medicines)</a>
                                                    className = "";
                                                }
                                                @if (Model.PatientInformation.Doctors.Count > 0)
                                                {
                                                    <a class="list-group-item list-group-item-action @className" id="linkListDoctor" data-toggle="tab" href="#listDoctor" role="tab" aria-controls="listDoctor" aria-selected="false">@Html.DisplayNameFor(model => model.PatientInformation.Doctors)</a>
                                                    className = "";
                                                }
                                                @if (Model.PatientInformation.TreatmentPlaces.Count > 0)
                                                {
                                                    <a class="list-group-item list-group-item-action @className" id="linkListTreatmentPlace" data-toggle="tab" href="#listTreatmentPlace" role="tab" aria-controls="listTreatmentPlace" aria-selected="false">@Html.DisplayNameFor(model => model.PatientInformation.TreatmentPlaces)</a>
                                                    className = "";
                                                }
                                            </div>
                                        </div>
                                        <div class="col-8">
                                            <div class="tab-content" id="nav-tabContent">
                                                @{
                                                    className = "active show";
                                                }
                                                @if (Model.PatientInformation.CancerTypes.Count > 0)
                                                {
                                                    <div class="tab-pane fade @className" id="listCancerType" role="tabpanel" aria-labelledby="linkListCancerType">
                                                        <ul class="list-group">
                                                            @foreach (var item in Model.PatientInformation.CancerTypes)
                                                            {
                                                                <li class="list-group-item">@item</li>
                                                            }
                                                        </ul>
                                                    </div>
                                                    className = "";
                                                }
                                                @if (Model.PatientInformation.Medicines.Count > 0)
                                                {
                                                    <div class="tab-pane fade @className" id="listMedicine" role="tabpanel" aria-labelledby="list-profile-list">
                                                        <ul class="list-group">
                                                            @foreach (string item in Model.PatientInformation.Medicines)
                                                            {
                                                                <li class="list-group-item">@item</li>
                                                            }
                                                        </ul>
                                                    </div>
                                                    className = "";
                                                }
                                                @if (Model.PatientInformation.Doctors.Count > 0)
                                                {
                                                    <div class="tab-pane fade @className" id="listDoctor" role="tabpanel" aria-labelledby="list-messages-list">
                                                        <ul class="list-group">
                                                            @foreach (string item in Model.PatientInformation.Doctors)
                                                            {
                                                                <li class="list-group-item">@item</li>
                                                            }
                                                        </ul>
                                                    </div>
                                                    className = "";
                                                }
                                                @if (Model.PatientInformation.TreatmentPlaces.Count > 0)
                                                {
                                                    <div class="tab-pane fade @className" id="listTreatmentPlace" role="tabpanel" aria-labelledby="list-settings-list">
                                                        <ul class="list-group">
                                                            @foreach (string item in Model.PatientInformation.TreatmentPlaces)
                                                            {
                                                                <li class="list-group-item">@item</li>
                                                            }
                                                        </ul>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-align-justify"></i> Naturalidade
                                <div class="card-header-actions">
                                    <a class="card-header-action btn-minimize" href="#" data-toggle="collapse" data-target="#naturalityCollapse" aria-expanded="true">
                                        <i class="fa fa-minus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body collapse show" id="naturalityCollapse">
                                <div class="row">

                                    @if (string.IsNullOrEmpty(Model.Naturality.City) &&
                                      string.IsNullOrEmpty(Model.Naturality.Country) &&
                                      string.IsNullOrEmpty(Model.Naturality.State))
                                    {
                                        <div class="col-lg-12">
                                            <p>Nenhuma informação cadastrada!</p>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-lg-4">
                                            @if (!string.IsNullOrEmpty(Model.Naturality.City))
                                            {
                                                <p><strong>@Html.DisplayNameFor(model => model.Naturality.City)</strong></p>
                                            }
                                            @if (!string.IsNullOrEmpty(Model.Naturality.State))
                                            {
                                                <p><strong>@Html.DisplayNameFor(model => model.Naturality.State)</strong></p>
                                            }
                                            @if (!string.IsNullOrEmpty(Model.Naturality.Country))
                                            {
                                                <p><strong>@Html.DisplayNameFor(model => model.Naturality.Country)</strong></p>
                                            }

                                        </div>
                                        <div class="col-lg-8">
                                            @if (!string.IsNullOrEmpty(Model.Naturality.City))
                                            {
                                                <p>@Html.DisplayFor(model => model.Naturality.City)</p>
                                            }
                                            @if (!string.IsNullOrEmpty(Model.Naturality.State))
                                            {
                                                <p>@Html.DisplayFor(model => model.Naturality.State)</p>
                                            }
                                            @if (!string.IsNullOrEmpty(Model.Naturality.Country))
                                            {
                                                <p>@Html.DisplayFor(model => model.Naturality.Country)</p>
                                            }
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-align-justify"></i> Telefones
                                <div class="card-header-actions">
                                    <a asp-action="AddPhone" asp-controller="Phone" asp-route-id="@Model.PatientId" class="card-header-action btn-setting" data-toggle="modal" data-target="#modal-action">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                    <a class="card-header-action btn-minimize" href="#" data-toggle="collapse" data-target="#phoneCollapse" aria-expanded="true">
                                        <i class="fa fa-minus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body collapse show" id="phoneCollapse">
                                <table id="phoneTable" class="table table-bordered table-striped table-condensed text-center"></table>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-align-justify"></i> Endereços
                                <div class="card-header-actions">
                                    <a asp-action="AddAddress" asp-controller="Address" asp-route-id="@Model.PatientId" class="card-header-action btn-setting" data-toggle="modal" data-target="#modal-action">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                    <a class="card-header-action btn-minimize" href="#" data-toggle="collapse" data-target="#addressCollapse" aria-expanded="true">
                                        <i class="fa fa-minus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body collapse show" id="addressCollapse">
                                <table id="addressTable" class="table table-bordered table-striped table-condensed text-center"></table>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-align-justify"></i> Membros Familiares
                                <div class="card-header-actions">
                                    <a asp-action="AddFamilyMember" asp-controller="FamilyMember" asp-route-id="@Model.PatientId" class="card-header-action btn-setting" data-toggle="modal" data-target="#modal-action">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                    <a class="card-header-action btn-minimize" href="#" data-toggle="collapse" data-target="#familyMembersCollapse" aria-expanded="true">
                                        <i class="fa fa-minus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body collapse show" id="familyMembersCollapse">

                                <div class="row">
                                    <div class="col-lg-4">
                                        <strong>Renda Paciente:</strong>
                                        @*Todo read this*@
                                        @*<span>@Model.Family?.MonthlyIncome.ToString("C2")</span>*@
                                    </div>
                                    <div class="col-lg-4">
                                        <strong>Renda Familiar:</strong>
                                        <span id="familyIncome">@Model.Family?.FamilyIncome.ToString("C2")</span>
                                    </div>
                                    <div class="col-lg-4">
                                        <strong> Renda Per Capita:</strong>
                                        <span id="perCapitaIncome">@Model.Family?.PerCapitaIncome.ToString("C2")</span>
                                    </div>
                                </div>

                                <hr />

                                <table id="familyMemberTable" class="table table-bordered table-striped table-condensed text-center"></table>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-align-justify"></i> Arquivos
                                <div class="card-header-actions">
                                    <a asp-action="AddFileAttachment" asp-controller="FileAttachment" asp-route-id="@Model.PatientId" class="card-header-action btn-setting" data-toggle="modal" data-target="#modal-action">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                    <a class="card-header-action btn-minimize" href="#" data-toggle="collapse" data-target="#attachmentsCollapse" aria-expanded="true">
                                        <i class="fa fa-minus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body collapse show" id="attachmentsCollapse">
                                <table id="attachmentsTable" class="table table-bordered table-striped table-condensed text-center"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</main>

<partial name="_Modal"  />

@section scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
            var patientId = @Model.PatientId;
    </script>
    <environment names="Development">
        <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
        <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
        <script src="~/lib/select2/js/select2.min.js"></script>
        <script src="~/js/patient-details.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/dist/js/patient-details.min.js" asp-append-version="true"></script>
    </environment>
}