@model LigaCancer.Models.MedicalViewModels.PatientShowViewModel

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-action="Index">Pacientes</a>
        </li>
        <li class="breadcrumb-item active">Detalhes @Model.Name</li>
    </ol>
    <div class="container-fluid">
        <div id="ui-view" style="opacity: 1;">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-address-card"></i> Paciente
                            </div>
                            <div class="card-block">
                                <div>
                                    <h4>Paciente</h4>
                                    <hr />
                                    <dl class="dl-horizontal">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.Name)
                                        </dt>
                                        <dt>
                                            @Html.DisplayFor(model => model.Name)
                                        </dt>
                                        <dt>
                                            @Html.DisplayNameFor(model => model.RG)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.RG)
                                        </dd>
                                        <dt>
                                            @Html.DisplayNameFor(model => model.CPF)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.CPF)
                                        </dd>
                                        <dt>
                                            @Html.DisplayNameFor(model => model.Sex)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.Sex)
                                        </dd>
                                        <dt>
                                            @Html.DisplayNameFor(model => model.CivilState)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.CivilState)
                                        </dd>
                                        <dt>
                                            @Html.DisplayNameFor(model => model.DateOfBirth)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.DateOfBirth)
                                        </dd>
                                        <dt>
                                            @Html.DisplayNameFor(model => model.FamiliarityGroup)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.FamiliarityGroup)
                                        </dd>
                                    </dl>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-align-justify"></i> Informações do paciente
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="list-group" id="list-tab" role="tablist">
                                            <a class="list-group-item list-group-item-action active show" id="list-home-list" data-toggle="tab" href="#list-home" role="tab" aria-controls="list-home" aria-selected="false">@Html.DisplayNameFor(model => model.PatientInformation.CancerTypes)</a>
                                            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="tab" href="#list-profile" role="tab" aria-controls="list-profile" aria-selected="false">@Html.DisplayNameFor(model => model.PatientInformation.Medicines)</a>
                                            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="tab" href="#list-messages" role="tab" aria-controls="list-messages" aria-selected="false">@Html.DisplayNameFor(model => model.PatientInformation.Doctors)</a>
                                            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="tab" href="#list-settings" role="tab" aria-controls="list-settings" aria-selected="true">@Html.DisplayNameFor(model => model.PatientInformation.TreatmentPlaces)</a>
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <div class="tab-content" id="nav-tabContent">
                                            <div class="tab-pane fade active show" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                                                <ul class="list-group">
                                                    @foreach (var item in Model.PatientInformation.CancerTypes)
                                                    {
                                                        <li class="list-group-item">@item</li>
                                                    }
                                                </ul>
                                            </div>
                                            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                                                <ul class="list-group">
                                                    @foreach (var item in Model.PatientInformation.Medicines)
                                                    {
                                                        <li class="list-group-item">@item</li>
                                                    }
                                                </ul>
                                            </div>
                                            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                                                <ul class="list-group">
                                                    @foreach (var item in Model.PatientInformation.Doctors)
                                                    {
                                                        <li class="list-group-item">@item</li>
                                                    }
                                                </ul>
                                            </div>
                                            <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                                                <ul class="list-group">
                                                    @foreach (var item in Model.PatientInformation.TreatmentPlaces)
                                                    {
                                                        <li class="list-group-item">@item</li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- /.conainer-fluid -->
</main>









