@using RVCC.Business
@model RVCC.Models.ViewModel.HomeViewModel
@{
    ViewData["Title"] = "Homepage";
}

@section styles {
    <environment names="Development">
        <link href="~/dist/css/home.bundle.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/dist/css/home.bundle.css" asp-append-version="true" rel="stylesheet" />
    </environment>
}

<main class="main">
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="card mt-4">
                <div class="card-body">
                    <div class="row">
                        <!-- /.col-->
                        <div class="col-sm-3">
                            <h4 class="card-title mb-0">Atendimentos</h4>
                        </div>
                        <form class="col-sm-6 form-group row" id="searchForm" method="post">
                            <label class="col-md-3 mt-1" asp-for="ChartDate"></label>
                            <div class="col-md-9">
                                <input asp-for="ChartDate" type="text" class="form-control" data-date-end-date="0d"/>
                                <span asp-validation-for="ChartDate" class="text-danger"></span>
                            </div>
                        </form>
                        <div class="col-sm-3 d-none d-md-block">
                            <div class="btn-group btn-group-toggle float-right mr-3" data-toggle="buttons">
                                <label class="btn btn-outline-secondary active">
                                    <input id="month" type="radio" name="chartOptions" class="chartOptions" autocomplete="off" checked> Mês
                                </label>
                                <label class="btn btn-outline-secondary">
                                    <input id="year" type="radio" name="chartOptions" class="chartOptions" autocomplete="off"> Ano
                                </label>
                            </div>
                        </div>
                        <!-- /.col-->
                    </div>
                    <!-- /.row-->
                    <div class="chart-wrapper">
                        <canvas class="chart" style="max-height: 56.5vh; display: none;" id="dayChart"></canvas>
                        <canvas class="chart" style="max-height: 56.5vh;" id="monthChart"></canvas>
                        <canvas class="chart" style="max-height: 56.5vh; display: none;" id="yearChart"></canvas>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row text-center">
                        <div class="col-sm-12 col-md mb-sm-2 mb-0">
                            <a asp-action="Index" asp-controller="Patient" class="no-decoration">
                                <div class="text-muted">Pacientes</div>
                                <strong>@Model.PatientCount</strong>
                                <div class="progress progress-xs mt-2">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </a>
                        </div>

                         <div class="col-sm-12 col-md mb-sm-2 mb-0">
                            <a asp-action="Index" asp-controller="Visitor" class="no-decoration">
                                <div class="text-muted">Visitantes</div>
                                <strong>@Model.VisitorCount</strong>
                                <div class="progress progress-xs mt-2">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </a>
                        </div>
                       
                        <div class="col-sm-12 col-md mb-sm-2 mb-0">
                            <a asp-action="Index" asp-controller="Attendant" class="no-decoration">
                                <div class="text-muted">Atendentes</div>
                                <strong>@Model.AttendantCount</strong>
                                <div class="progress progress-xs mt-2">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </a>
                        </div>

                        <div class="col-sm-12 col-md mb-sm-2 mb-0">
                            <a asp-action="Index" asp-controller="VisitorAttendanceType" class="no-decoration">
                                <div class="text-muted">Atendimentos</div>
                                <strong>@Model.VisitorAttendanceTypeCount</strong>
                                <div class="progress progress-xs mt-2">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </a>
                        </div>
                        
                        <div class="col-sm-12 col-md mb-sm-2 mb-0">
                            <a asp-action="Index" asp-controller="PatientBenefit" class="no-decoration">
                                <div class="text-muted">Beneficios</div>
                                <strong>@Model.BenefitCount</strong>
                                <div class="progress progress-xs mt-2">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </a>
                        </div>
                        
                        <div class="col-sm-12 col-md mb-sm-2 mb-0">
                            <a asp-action="Index" asp-controller="Stay" class="no-decoration">
                                <div class="text-muted">Estadias</div>
                                <strong>@Model.StaysCount</strong>
                                <div class="progress progress-xs mt-2">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </a>
                        </div>
                        
                        <div class="col-sm-12 col-md mb-sm-2 mb-0">
                            <a asp-action="Index" asp-controller="Benefit" class="no-decoration">
                                <div class="text-muted">Tipos de Beneficío</div>
                                <strong>@Model.BenefitTypeCount</strong>
                                <div class="progress progress-xs mt-2">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </a>
                        </div>


                        <div class="col-sm-12 col-md mb-sm-2 mb-0">
                            <a asp-action="Index" asp-controller="AttendanceType" class="no-decoration">
                                <div class="text-muted">Tipos de Atendimento</div>
                                <strong>@Model.AttendanceTypeCount</strong>
                                <div class="progress progress-xs mt-2">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="row text-center">

                        <div class="col-sm-12 col-md mb-sm-2 mb-0">
                            <a asp-action="Index" asp-controller="Doctor" class="no-decoration">
                                <div class="text-muted">Médicos</div>
                                <strong>@Model.DoctorCount</strong>
                                <div class="progress progress-xs mt-2">
                                    <div class="progress-bar" role="progressbar" style="width:100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </a>
                        </div>

                        <div class="col-sm-12 col-md mb-sm-2 mb-0">
                            <a asp-action="Index" asp-controller="Medicine" class="no-decoration">
                                <div class="text-muted">Remédios</div>
                                <strong>@Model.MedicineCount</strong>
                                <div class="progress progress-xs mt-2">
                                    <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </a>
                        </div>

                        <div class="col-sm-12 col-md mb-sm-2 mb-0">
                            <a asp-action="Index" asp-controller="CancerType" class="no-decoration">
                                <div class="text-muted">Cânceres</div>
                                <strong>@Model.CancerTypeCount</strong>
                                <div class="progress progress-xs mt-2">
                                    <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </a>
                        </div>
                        
                        <div class="col-sm-12 col-md mb-sm-2 mb-0">
                            <a asp-action="Index" asp-controller="TreatmentPlace" class="no-decoration">
                                <div class="text-muted">Locais de tratamento</div>
                                <strong>@Model.TreatmentPlaceCount</strong>
                                <div class="progress progress-xs mt-2">
                                    <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </a>
                        </div>

                        <div class="col-sm-12 col-md mb-sm-2 mb-0">
                            <a asp-action="Index" asp-controller="TreatmentType" class="no-decoration">
                                <div class="text-muted">Tipos de tratamento</div>
                                <strong>@Model.TreatmentTypesCount</strong>
                                <div class="progress progress-xs mt-2">
                                    <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </a>
                        </div>

                        <div class="col-sm-12 col-md mb-sm-2 mb-0">
                            <a asp-action="Index" asp-controller="ServiceType" class="no-decoration">
                                <div class="text-muted">Tipo de Serviços</div>
                                <strong>@Model.ServiceTypeCount</strong>
                                <div class="progress progress-xs mt-2">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </a>
                        </div>

                        <div class="col-sm-12 col-md mb-sm-2 mb-0">
                            <a asp-action="Index" asp-controller="ExpenseType" class="no-decoration">
                                <div class="text-muted">Tipos de Despesa</div>
                                <strong>@Model.ExpenseTypeCount</strong>
                                <div class="progress progress-xs mt-2">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </a>
                        </div>

                        <div class="col-sm-12 col-md mb-sm-2 mb-0">
                            <a asp-action="Index" asp-controller="AuxiliarAccessoryType" class="no-decoration">
                                <div class="text-muted">Acessórios Auxiliares</div>
                                <strong>@Model.AuxiliarAcessoryTypeCount</strong>
                                <div class="progress progress-xs mt-2">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section scripts {
    <environment names="Development">
        <script src="~/dist/js/home.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/dist/js/home.bundle.js" asp-append-version="true"></script>
    </environment>
}
