@model PaginatedList<LigaCancer.Data.Models.Patient.Doctor>
@using LigaCancer.Code
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    var lastDisabled = Model.PageIndex == Model.TotalPages ? "disabled" : "";
    var firstDisabled = !(Model.PageIndex > 1) ? "disabled" : "";
}

<div class="row">
    <div class="col-sm-12 col-md-5">
        @if (Model.InitValue == Model.EndValue)
        {
            <div>Mostrando elemento @Model.InitValue de um total de @Model.CountTotal registros</div>
        }
        else
        {
            <div>Mostrando @Model.InitValue à @Model.EndValue de um total de @Model.CountTotal registros</div>
        }
    </div>


    <div class="col-sm-12 col-md-7">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
                <li class="page-item @firstDisabled">
                    <a class="page-link" asp-action="Index" asp-route-page="1" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-sortOrder="@ViewData["CurrentSort"]">Início</a>
                </li>

                <li class="page-item @prevDisabled">
                    <a class="page-link" asp-action="Index" asp-route-page="@(Model.PageIndex - 1)" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-sortOrder="@ViewData["CurrentSort"]">
                        Anterior
                    </a>
                </li>

                @if (Model.HasPreviousPage)
                {
                    @if (Model.PageIndex > 2)
                    {
                        <li class="page-item">
                            <a class="page-link" asp-action="Index" asp-route-page="@(Model.PageIndex - 2)" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-sortOrder="@ViewData["CurrentSort"]">@(Model.PageIndex - 2)</a>
                        </li>
                    }
                    <li class="page-item">
                        <a class="page-link" asp-action="Index" asp-route-page="@(Model.PageIndex - 1)" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-sortOrder="@ViewData["CurrentSort"]">
                            @(Model.PageIndex - 1)
                        </a>
                    </li>
                }

                <li class="page-item active">
                    <a class="page-link" asp-action="Index" asp-route-page="@Model.PageIndex" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-sortOrder="@ViewData["CurrentSort"]">
                        @Model.PageIndex
                    </a>
                </li>

                @if (Model.HasNextPage)
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="Index" asp-route-page="@(Model.PageIndex + 1)" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-sortOrder="@ViewData["CurrentSort"]">
                            @(Model.PageIndex + 1)
                        </a>
                    </li>
                    @if (Model.PageIndex + 1 < Model.TotalPages)
                    {
                        <li class="page-item">
                            <a class="page-link" asp-action="Index" asp-route-page="@(Model.PageIndex + 2)" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-sortOrder="@ViewData["CurrentSort"]">
                                @(Model.PageIndex + 2)
                            </a>
                        </li>
                    }
                }

                <li class="page-item @nextDisabled">
                    <a class="page-link" asp-action="Index" asp-route-page="@(Model.PageIndex + 1)" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-sortOrder="@ViewData["CurrentSort"]">
                        Próximo
                    </a>
                </li>
                <li class="page-item @lastDisabled">
                    <a class="page-link" asp-action="Index" asp-route-page="@Model.TotalPages" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-sortOrder="@ViewData["CurrentSort"]">
                        Última
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>